body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: roboto;
    
    
    
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 150px;

    
    
    
    
    
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    
        

}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 10px;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 150px;
    
    
    
    
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: auto;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    


    
}

ul.secondary {
    align-items: center;
    margin-left: auto;
    margin-top: 0;
    

}

.header-left {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 100px;
   

}


.header-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 20px;
    
}

.main {
    font-size: 48px;
    color: #f9faf8;
    
}

.main-sub {
    color: #e5e7eb;
    font-size: 18px;
}

.header-left-container {
    margin-right: 300px;
}

.header-right>img {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.inf-header {
    display: flex;
    flex-direction: column;
    
}

.square-container {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    gap: 20px;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

.inf-title {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 50px;


}

.square-fixed {

    border: 5px solid #3882f6;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    
}

.squares {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
}

.squares>div {
    margin: 5px;
    text-align: center;
    font-size: 18px;
    
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    
    
    
}

.quote-auth {
    text-align: right;
    font-weight: 900;
    font-size: 30px;
    margin-top: 30px;
}

