body {
    display: flex;
    margin: 0;
    flex-direction: row;
    
    
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: 1;
    
    
    
    
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
        

}

a {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8
    
    
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;


    
}

ul.secondary {
    align-items: center;
    margin-left: auto;

}

.header-top {
    display: flex;
}

.main {
    display: flex;
    
    
}


