body {
    display: flex;
    margin: 0;
    flex-direction: row;
    font-family: roboto;
    
    
    
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    flex: 1;
    
    
    
    
    
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    
        

}

a {
    color: white;
    text-decoration: none;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    
    
    
    
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    


    
}

ul.secondary {
    align-items: center;
    margin-left: auto;
    margin-top: 0;

}

.header-left {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 100px;

}


.header-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 20px;
    
}

.main {
    font-size: 48px;
    color: #f9faf8;
}


